<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VITE TEMPLATE</title>
    <meta name="description" content="<%- SITE_DATA.description %>" />
    <meta name="keywords" content="<%- SITE_DATA.keywords %>" />
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="" />
    <link rel="icon" type="image/svg+xml" href="" />
    <link rel="icon" type="image/svg+xml" href="" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="./assets/scss/styles.scss" />
    <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%- SITE_DATA.url %>index.html" />
    <meta property="og:title" content="<%- SITE_DATA.title %>" />
    <meta property="og:image" content="<%- SITE_DATA.url %>assets/images/common/ogp.png" />
    <meta property="og:description" content="<%- SITE_DATA.description %>" />
    <meta property="og:site_name" content="<%- SITE_DATA.site_name %>" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="<%- SITE_DATA.url %>index.html" />
    <meta name="twitter:title" content="<%- SITE_DATA.title %>" />
    <meta name="twitter:description" content="<%- SITE_DATA.description %>" />
    <meta name="twitter:image" content="<%- SITE_DATA.url %>assets/images/common/ogp.png" />
    <!-- Font -->

    <!-- Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
  </head>
  <body>
    <div id="app"></div>
    テスト
    <img src="assets/images/vite.svg" alt="" />

    <script type="module" src="./assets/js/index.js"></script>
  </body>
</html>
